# Test and Compiler files
**test.json
**test.js

# distribution folders
global-s3-assets
regional-s3-assets
open-source

# Generated ouputs
dist
coverage
docs
npm-debug.log
*.zip
.scannerwork
*.xml
reports
source/services/@aws-solutions/utils/*/index.js

# Node dependencies
node_modules
*.js
!jest.config.js
*.d.ts

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
*.tfvars
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Misc
.DS_Store

# IDEs
.idea